{%load static%}

<nav class="navbar navbar-expand-lg navbar-light bg-secondary sticky">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{%url 'movie_list'%}"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-right" href="{%url 'horijiy_kinolar' %}">
            Horijiy kinolar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'milliy_filmlar' %}">
            Milliy filmlar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'multfilmla' %}">Multfilmlar</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div>
      {% if user.is_authenticated %}
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{%static 'css\images\avatar.png' %}"
            alt="Avatar"
            class="avatar"
          />
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Username</a></li>
          <li><a class="dropdown-item" href="#">UserId</a></li>
          <li><a class="dropdown-item" href="#">Some Info</a></li>
        </ul>
      </div>

      {%else %} no {%endif %}
    </div>
  </div>
</nav>
